/*
    Summary:
        Skills adding block
 */
.skills_adding_block {
    border: 1px solid RGB(28, 195, 124);
    padding: 10px;
    max-width: 960px;
    }
.skill_param {
    margin: 10px;
    }
.skill_param input {
    padding: 3px 5px 3px 5px;
    margin-left: 50px;
    width: 50%;
    }
.button_add_skill {
    margin: 10px;
    padding: 10px 15px 10px 15px;
    color: white;
    background: black;
    border: 0px;
    border-radius: 3px;
    }

/*
    Summary:
        Skills block
 */
.skills_block {
    max-width: 960px;
    }
.skills_block__skill {

    padding: 1px 5px 1px 5px;
    margin-bottom: 1%;
    background-color: RGB(28, 195, 124);
    border-radius: 3px;

    color: white;
    }
.skills_block__skill:first-of-type {
    margin-top: 15px;
    }
.skills_block__skill:last-of-type {
    margin-bottom: 15px;
    }

/*
    Summary: Skill level
 */
.skills_level_block {
    position: relative;
    max-width: 960px;
    height: 2px;
    background: gray;
    }
.skills_level {
    position: absolute;
    top: 5px;
    color: gray;
    font-size: small;
    }
.skills_level:before {
    display: block;
    margin: -10px auto 5px auto;
    border-radius:  10px;
    content: ' ';
    height: 7px;
    width: 2px;
    background: gray;
    }
.div_skills_level__beginner {
    left: 0%;
    }
.div_skills_level__beginner::before {
    margin-left: 0;
    }
.div_skills_level__proficient {
    left: 20%
    }
.div_skills_level__expert {
    left: 70%;
    }
.div_skills_level__master {
    right: 0;
    }
.div_skills_level__master::before {
    margin-right: 0;
    }

/*
    Summary:
        Education block
 */
.educations_block {
    position: relative;
    margin-bottom: 5%;

    max-height: 40vh;
    overflow-y: auto;
    }
.educations_block__header {
    margin-top: 5%;
    color: RGB(28, 195, 124);
    }
.education {
    margin-bottom: 1%;
    }


.education > * {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    }
.left_education_block {
    position: absolute;
    font-weight: bold;

    background-color: white;
    }
.left_education_block:after {
    position: absolute;
    display: block;
    content: ' ';
    height: 100%;
    width: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: RGB(28, 195, 124);
    }
.education:last-of-type .left_education_block:after {
    display: none;
    }

.right_education_block {
    position: relative;
    margin-left: 5%;
    padding: 1%;
    border-radius: 1%;
    background: lightgray;
    width: 80%;
    }
.right_education_block::before {
    position: absolute;
    top: 10px;
    left: -30px;
    display: block;
    content: ' ';
    border: 15px solid transparent;
    border-right: 15px solid lightgray;
    }
.right_education_block__header {
    font-weight: bolder;
    }

/*
    Burger btn
 */
.aside-news {
    background-color: white;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    transition: width .5s ease-out;
    width: 0;

    left: 0;
    position: fixed;
    top: 0;
    }

.aside-news_active {
    padding: 30px;
    width: 50%;
    z-index: 5;
    }
.burger-btn {
    bottom: 20px;
    z-index: 6;
    outline: none;
    }

.burger-btn,
.burger-btn::before,
.burger-btn::after {
    position: fixed;
    left: 22px;

    content: "";
    display: block;
    height: 4px;
    width: 30px;
    background-color: #4a4a4a;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    }

.burger-btn::before {
    bottom: 26px;
    }

.burger-btn::after {
    bottom: 14px;
    }
.burger-btn_active,
.burger-btn_active::before,
.burger-btn_active::after{
    background-color: gold;
    }

/*
    Current user position
 */
.current_user_position_nav {
    position: fixed;
    top: 25%;
    right: 0;
    padding: 5px 25px 5px 10px;
    margin: 0;
    border-radius: 10px 0 0 10px;
    background-color: RGB(28, 195, 124)
    }
.current_user_position_nav a {
    text-decoration: none;
    color: inherit;
    }
.current_user_position_list {
    margin: 0;
    padding: 0;
    list-style: none;
    }
.current_user_position_list__title {
    font-size: larger;
    font-weight: bold;
    }
.current_user_position_nav .current_user_position_list__a__locateHere {
    margin-left: 5%;
    text-decoration: underline;
    color: white;
    transition: 1s;
    }